<center><h1>{{tile}}</h1></center>
<form style="border: 1px solid black; border-radius: 20px; margin: 30px">
  <div style="margin: 10px">
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Tên</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="text"
          ng-model="input.ten"
        />
        <label style="color: red" ng-if="kiemtra.ten==true"
          >Bạn chưa nhập</label
        >
      </div>
    </div>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Giới Tính</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios1"
            value="Nam"
            ng-model="input.gioitinh"
          />
          <label class="form-check-label" for="exampleRadios1"> Nam </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            ng-model="input.gioitinh"
            value="Nữ"
          />
          <label class="form-check-label" for="exampleRadios2"> Nữ </label>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Địa chỉ</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="text"
          ng-model="input.diachi"
        />
        <label style="color: red" ng-if="kiemtra.diachi==true"
          >Bạn chưa nhập</label
        >
      </div>
    </div>
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Tuổi</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="text"
          ng-model="input.tuoi"
        />
        <label style="color: red" ng-if="kiemtra.tuoi==true"
          >Bạn chưa nhập</label
        ><label style="color: red" ng-if="kiemtra.tuoicheck==true"
          >Tuổi phải là sô</label
        ><label style="color: red" ng-if="kiemtra.tuoiso==true"
          >Tuổi phải lớn hơn 0</label
        >
      </div>
    </div>
  </div>
</form>
<div style="margin: 40px">
  <button type="button" class="btn btn-outline-success" ng-click="add()">
    ADD
  </button>
  <button type="button" class="btn btn-outline-warning" ng-click="update()">
    UPDATE
  </button>
</div>
<div style="margin: 40px">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TÊN</th>
        <th scope="col">GIỚI TÍNH</th>
        <th scope="col">ĐỊA CHỈ</th>
        <th scope="col">TUỔI</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tg in dstg" ng-click="chon(tg.id)">
        <td scope="col">{{tg.id}}</td>
        <td scope="col">{{tg.ten}}</td>
        <td scope="col">{{tg.gioitinh}}</td>
        <td scope="col">{{tg.diachi}}</td>
        <td scope="col">{{tg.tuoi}}</td>
      </tr>
    </tbody>
  </table>
</div>
