<div class="container-lienhe">
  <center><h1 style="color: teal">{{title}}</h1></center>
  <br />
  <center>
    <form class="phom">
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Họ và tên</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.hovaten"
          />
          <label style="color: red" ng-if="kiemtradulieu.hovaten==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >CCCD/CMT</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.cccd"
          />
          <label style="color: red" ng-if="kiemtradulieu.cccd==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.email"
          />
          <label style="color: red" ng-if="kiemtradulieu.email==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Giới Tính</label
        >
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              ng-model="inputValue.gioitinh"
              value="nam"
            />
            <label class="form-check-label" for="inlineRadio1">Nam</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              ng-model="inputValue.gioitinh"
              value="nữ"
            />
            <label class="form-check-label" for="inlineRadio2">Nữ</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              ng-model="inputValue.gioitinh"
              value="khác"
            />
            <label class="form-check-label" for="inlineRadio3">Khác</label>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Số Điện thoại</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.sdt"
          />
          <label style="color: red" ng-if="kiemtradulieu.sdt==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Ngày bay</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.ngaybay"
          />
          <label style="color: red" ng-if="kiemtradulieu.ngaybay==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Chuyến bay</label
        >
        <div class="col-sm-10">
          <select
            class="form-select"
            aria-label="Default select example"
            ng-model="chuyenbayOp"
            ng-options="chuyenbayOp.name for chuyenbayOp in dschuyenbay"
          ></select>
          <label style="color: red" ng-if="kiemtradulieu.chuyenbay==true"
            >Bạn chưa chọn</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Ngày sinh</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.ngaysinh"
          />
          <label style="color: red" ng-if="kiemtradulieu.ngaysinh==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Hành Lý</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.hanhly"
          />
          <label style="color: red" ng-if="kiemtradulieu.hanhly==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Hình thức TT</label
        >
        <div class="col-sm-10">
          <select
            class="form-select"
            aria-label="Default select example"
            ng-model="htttOp"
            ng-options="htttOp.name for htttOp in dshttt"
          ></select>
          <label style="color: red" ng-if="kiemtradulieu.httt==true"
            >Bạn chưa chọn</label
          >
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" ng-click="Dat()">
          Đặt
        </button>
        <button type="submit" class="btn btn-primary mb-3" ng-click="reset()">
          reset
        </button>
      </div>
    </form>
  </center>
</div>
