<div class="container-lienhe">
  <center><h1 style="color: teal">{{title}}</h1></center>
  <br />
  <center>
    <form class="phom">
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Họ và tên</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.hovaten"
          />
          <label style="color: red" ng-if="kiemtradulieu.hovaten==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >CCCD/CMT</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.cccd"
          />
          <label style="color: red" ng-if="kiemtradulieu.cccd==true"
            >Bạn chưa nhập</label
          >
          <label style="color: red" ng-if="kiemtradulieu.ccCheck==true"
            >Sai định dạng</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.email"
          />
          <label style="color: red" ng-if="kiemtradulieu.email==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Giới Tính</label
        >
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              ng-model="inputValue.gioitinh"
              value="nam"
            />
            <label class="form-check-label" for="inlineRadio1">Nam</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              ng-model="inputValue.gioitinh"
              value="nữ"
            />
            <label class="form-check-label" for="inlineRadio2">Nữ</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              ng-model="inputValue.gioitinh"
              value="khác"
            />
            <label class="form-check-label" for="inlineRadio3">Khác</label>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Số Điện thoại</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.sdt"
          />
          <label style="color: red" ng-if="kiemtradulieu.sdt==true"
            >Bạn chưa nhập</label
          >
          <label style="color: red" ng-if="kiemtradulieu.sdtCheck==true"
            >Sai định dạng
          </label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Chuyến bay</label
        >
        <div class="col-sm-10">
          <select
            class="form-select"
            aria-label="Default select example"
            ng-model="inputValue.chuyenbayOp"
            ng-options="chuyenbayOp.name for chuyenbayOp in dschuyenbay"
          ></select>
          <label style="color: red" ng-if="kiemtradulieu.chuyenbay==true"
            >Bạn chưa chọn</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Năm sinh</label
        >
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.ngaysinh"
          />
          <label style="color: red" ng-if="kiemtradulieu.ngaysinh==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Hành Lý</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="inputValue.hanhly"
          />
          <label style="color: red" ng-if="kiemtradulieu.hanhly==true"
            >Bạn chưa nhập</label
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Hình thức TT</label
        >
        <div class="col-sm-10">
          <select
            class="form-select"
            aria-label="Default select example"
            ng-model="inputValue.htttOp"
            ng-options="htttOp.name for htttOp in dshttt"
          ></select>
          <label style="color: red" ng-if="kiemtradulieu.httt==true"
            >Bạn chưa chọn</label
          >
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" ng-click="Dat()">
          Đặt
        </button>
        <button type="submit" class="btn btn-primary mb-3" ng-click="reset()">
          reset
        </button>
      </div>
    </form>
    <div
      style="border: 1px solid rgb(53, 2, 2); margin: 1px; border-radius: 10px"
    >
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">HỌ VÀ TÊN</th>
            <th scope="col">CCCD/CMT</th>
            <th scope="col">EMAIL</th>
            <th scope="col">GIỚI TÍNH</th>
            <th scope="col">NĂM SINH</th>
            <th scope="col">SỐ ĐIỆN THOẠI</th>
            <th scope="col">CHUYẾN BAY</th>
            <th scope="col">HÀNH LÝ</th>
            <th scope="col">HÌNH THỨC THANH TOÁN</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pt in dsve">
            <td>{{pt.id}}</td>
            <td>{{pt.hovaten}}</td>
            <td>{{pt.cccd}}</td>
            <td>{{pt.email}}</td>
            <td>{{pt.gioitinh}}</td>
            <td>{{pt.ngaysinh}}</td>
            <td>{{pt.sdt}}</td>
            <td>{{pt.chuyenbay}}</td>
            <td>{{pt.hanhly}}</td>
            <td>{{pt.hinhthucthanhtoan}}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-warning"
                ng-click="onEdit(pt.id)"
              >
                Sửa
              </button>
              <button
                type="button"
                class="btn btn-outline-danger"
                ng-click="onDelete(pt.id)"
              >
                Xóa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </center>
</div>
