<div class="container-lienhe">
  <center><h1>{{title}}</h1></center>
  <br />
  <center>
    <form class="phom">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          ng-model="name"
        />
        <label style="color: red">{{nameError}}</label>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          ng-model="email"
        />
        <label style="color: red">{{emailError}}</label>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tiêu đề</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          ng-model="tieude"
        />
        <label style="color: red">{{tieudeError}}</label>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Nội dung</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="5"
          ng-model="noidung"
        ></textarea>
        <label style="color: red">{{noidungError}}</label>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" ng-click="gui()">
          Gửi
        </button>
      </div>
    </form>
  </center>
</div>
