<div class="container-lienhe">
  <center><h1 style="color: teal">{{title}}</h1></center>
  <br />
  <center>
    <form class="phom">
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Họ và tên</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="name"
          />
          <label style="color: red">{{nameE}}</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >CCCD/CMT</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="cccd"
          />
          <label style="color: red">{{cccdE}}</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="email"
          />
          <label style="color: red">{{emailE}}</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Giới Tính</label
        >
        <div class="col-sm-10">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="inlineRadio1">Nam</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Nữ</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio3"
              value="option3"
            />
            <label class="form-check-label" for="inlineRadio3">Khác</label>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Số Điện thoại</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="sdt"
          />
          <label style="color: red">{{sdtE}}</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Chuyến bay</label
        >
        <div class="col-sm-10">
          <select class="form-select" aria-label="Default select example">
            <option value="1">Hà Nội to Hồ Chí Minh</option>
            <option value="2">Hà Nội to Đà Nẵng</option>
            <option value="3">Hà Nội to Korea</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Ngày sinh</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="ngaysinh"
          />
          <label style="color: red">{{ngaysinhE}}</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Hành Lý</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ng-model="hanhly"
          />
          <label style="color: red">{{hanhlyE}}</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
          >Hình thức TT</label
        >
        <div class="col-sm-10">
          <select class="form-select" aria-label="Default select example">
            <option value="1">Chuyển khoản</option>
            <option value="2">Tiền mặt</option>
            <option value="3">Thẻ tín dụng</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" ng-click="Dat()">
          Đặt
        </button>
      </div>
    </form>
  </center>
</div>
