<div class="container">
  <center><h1 style="color: darkslateblue">{{title}}</h1></center>
  <br />
  <br />
  <center>
    <h2 style="font-family: Arial, Helvetica, sans-serif">
      Ban Lãnh Đạo Tổng Công Ty Hàng Không Việt Nam - CTCP
    </h2>
  </center>

  <center>
    <div class="banLanhDao">
      <div class="chuTich">
        <strong>CHỦ TỊCH HỘI ĐỒNG QUẢN TRỊ: </strong> <br />
        ÔNG ĐẶNG NGỌC HÒA
      </div>
      <div class="ThanhVien">
        <strong>Thành viên Hội đồng Quản trị: <br /></strong>

        Ông Lê Hồng Hà <br />

        Ông Lê Trường Giang <br />

        Ông Tạ Mạnh Hùng <br />

        Ông Đinh Việt Tùng <br />

        Ông Trương Văn Phước <br />

        Ông Hiroyuki Kometani <br />
      </div>
    </div>

    <div class="banLanhDao">
      <div class="chuTich">
        <strong>TRƯỞNG BAN KIỂM SOÁT: </strong> <br />
        BÀ NGUYỄN THỊ THIÊN KIM
      </div>
      <div class="ThanhVien">
        <strong>Thành viên Ban Kiểm soát: <br /></strong>

        Ông Mai Hữu Thọ<br />

        Bà Nguyễn Thị Hồng Loan <br />
      </div>
    </div>
    <div class="banLanhDao">
      <div class="chuTich">
        <strong>TỔNG GIÁM ĐỐC: </strong> <br />
        ÔNG LÊ HỒNG HÀ
      </div>
      <div class="ThanhVien">
        <strong>Phó Tổng giám đốc: <br /></strong>

        Ông Trịnh Ngọc Thành <br />

        Ông Trịnh Hồng Quang <br />

        Ông Nguyễn Hồng Lĩnh <br />

        Ông Nguyễn Chiến Thắng <br />

        Ông Tô Ngọc Giang <br />

        Ông Đinh Văn Tuấn <br />
      </div>
    </div>
  </center>
  <br /><br />
  <center>
    <div class="lichsu">
      <h2 style="font-family: Arial, Helvetica, sans-serif">
        Lịch Sử hình thành
      </h2>
      <div class="row">
        <div id="noidung">
          <p>
            <br /><strong>Thời kỳ đầu tiên</strong><br /><br />
            Lịch sử của Hãng hàng không Quốc gia Việt Nam bắt đầu từ tháng Giêng
            năm 1956, khi Cục Hàng không Dân dụng được Chính phủ thành lập, đánh
            dấu sự ra đời của Ngành Hàng không Dân dụng ở Việt Nam. Vào thời
            điểm đó, đội bay còn rất nhỏ, với vẻn vẹn 5 chiếc máy bay cánh quạt
            IL 14, AN 2, Aero 45… Chuyến bay nội địa đầu tiên được khai trương
            vào tháng 9/1956.
            <br />
            Giai đoạn 1976 - 1980 đánh dấu việc mở rộng và khai thác hiệu quả
            nhiều tuyến bay quốc tế đến các các nước châu Á như Lào, Campuchia,
            Trung Quốc, Thái Lan, Philippines, Malaysia và Singapore. Vào cuối
            giai đoạn này, hàng không dân dụng Việt Nam trở thành thành viên của
            Tổ chức Hàng không Dân dụng Quốc tế (ICAO). Tháng 4 năm 1993, Hãng
            Hàng không Quốc gia Việt Nam (Vietnam Airlines) chính thức hình
            thành với tư cách là một đơn vị kinh doanh vận tải hàng không có quy
            mô lớn của Nhà nước. Vào ngày 27/05/1995, Tổng Công ty Hàng không
            Việt Nam được thành lập trên cơ sở liên kết 20 doanh nghiệp hoạt
            động kinh doanh dịch vụ hàng không, lấy Vietnam Airlines làm nòng
            cốt.
            <br /><br /><strong>Những cột mốc đáng nhớ</strong><br /><br />
            Năm 1993: Thành lập Hãng hàng không quốc gia Việt Nam <br />
            Năm 1995: Thành lập Tổng công ty Hàng không Việt Nam gồm Hãng hàng
            không quốc gia Việt Nam và 20 doanh nghiệp trong ngành<br />
            Năm 2002: Giới thiệu biểu tượng mới - Bông Sen Vàng gắn với các cải
            tiến vượt trội về chất lượng dịch vụ, mở rộng mạng bay và nâng cấp
            đội bay<br />
            Năm 2003: Tiếp nhận đưa vào khai thác tàu bay hiện đại Boeing 777
            đầu tiên, khởi đầu chương trình hiện đại hóa đội bay<br />
            Năm 2006: Trở thành thành viên chính thức của IATA<br />
            Năm 2010: Chính thức là thành viên thứ 10 của Liên minh hàng không
            Skyteam<br />
            Năm 2014: Chào bán thành công cổ phần lần đầu ra công chúng tại Sở
            giao dịch chứng khoán TP HCM<br />
            Năm 2015:<br />
            - 04/2015: Chính thức hoạt động theo mô hình CTCP từ ngày
            01/4/2015<br />
            - 07/2015: Trở thành hãng hàng không đầu tiên của Châu Á và thứ 2
            trên thế giới tiếp nhận máy bay thế hệ mới Airbus A350-900, đồng
            thời ra mắt hệ thống nhận diện thương hiệu mới<br />
            Năm 2016: - 07/2016: Chính thức được công nhận là Hãng hàng không
            quốc tế 4 sao theo tiêu chuẩn của Skytrax<br />
            - Hoàn thành lựa chọn nhà đầu tư chiến lược ANA Holdings INC (Nhật
            Bản)<br />
            Năm 2017: <br />
            - 01/2017: Cổ phiếu Vietnam Airlines chính thức giao dịch trên sàn
            chứng khoán UPCOM với mã chứng khoán HVN, giá trị vốn hóa nằm trong
            top đầu của thị trường<br />
            - 12/2017: Chào đón hành khách thứ 200 triệu sau 20 năm thành lập và
            đạt 1,5 triệu hội viên Bông Sen Vàng<br />
            Năm 2018:<br />
            - 07/2018: Nhận chứng chỉ Skytrax lần 3 liên tiếp là Hãng hàng không
            quốc tế 4 sao (2016,2017,2018)<br />
            - 11/2018: Chính thức đón tàu A321 NEO đầu tiên; chuyển giao quyền
            đại diện chủ sở hữu nhà nước từ Bộ GTVT sang Ủy ban Quản lý vốn nhà
            nước tại doanh nghiệp.<br />
            <br /><br /><strong>Những thành tựu, giải thưởng đạt được:</strong
            ><br /><br />
            <li>
              2016: “Hãng hàng không hàng đầu Châu Á về bản sắc văn hoá” và
              “Hãng hàng không có hạng Phổ thông hàng đầu Châu Á” bởi World
              Travel Awards.
            </li>
            <li>2016: Top 3 Hãng hàng không tiến bộ nhất thế giới (SKYTRAX)</li>
            <li>
              2016: Hãng hàng không có thiết kế ghế khoang Thương gia đẹp nhất
              trên Boeing 787-9 và Airbus A350-900” (Tạp chí Global Traveler
              Trung Quốc)
            </li>
            <li>
              Top 4 hãng hàng không khu vực Đông Nam Á có lưu lượng vận chuyển
              hành khách đạt trên 20 triệu lượt (CAPA)Top 4 hãng hàng không khu
              vực Đông Nam Á có lưu lượng vận chuyển hành khách đạt trên 20
              triệu lượt (CAPA)
            </li>
            <li>
              2017: “Hãng hàng không của năm tại khu vực Châu Á – Thái Bình
              Dương” bởi CAPA- Center for Aviation
            </li>
            <br /><br /><strong>Hướng tới tương lai</strong><br /><br />
            Là một hãng hàng không quốc tế năng động, hiện đại và mang đậm dấu
            ấn bản sắc văn hóa truyền thống Việt Nam, trong suốt hơn 20 năm phát
            triển với tốc độ tăng trưởng ở mức hai con số, Vietnam Airlines đã
            và đang dẫn đầu thị trường hàng không Việt Nam - một trong những thị
            trường nội địa có sức tăng trưởng nhanh nhất thế giới. Là hãng hàng
            không hiện đại với thương hiệu được biết đến rộng rãi nhờ bản sắc
            văn hóa riêng biệt, Vietnam Airlines đang hướng tới trở thành hãng
            hàng không quốc tế chất lượng 5 sao dẫn đầu khu vực châu Á.
          </p>
        </div>
      </div>
    </div>
  </center>
</div>
