<div class="row"><center><h1 style="margin: 30px; color: forestgreen;">Trong Nước</h1></center></div>
<div class="row">
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/DaNang.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> Đà Nẵng</h5>
          <p class="card-text">
            24/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 1.526.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/hochiminh.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> Hồ Chí Minh</h5>
          <p class="card-text">
            25/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 1.726.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/DaNang.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> Đà Nẵng</h5>
          <p class="card-text">
            24/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 1.526.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/DaNang.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> Đà Nẵng</h5>
          <p class="card-text">
            24/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 1.526.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
</div>
<div class="row"><center><h1 style="margin: 30px; color: forestgreen;">Nước Ngoài</h1></center></div>
<div class="row">
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/singapore.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> Singapore</h5>
          <p class="card-text">
            24/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 3.526.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/nhat.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> Japan</h5>
          <p class="card-text">
            24/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 4.526.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/thai.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> ThaiLan</h5>
          <p class="card-text">
            24/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 4.526.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
  <div class="col-3"  >
    <div class="card" style="width: 18rem" id="khoi">
      <img src="img/nhat.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">Hà Nội --> Korea</h5>
          <p class="card-text">
            24/2/2023 <br />
            Một chiều / phổ thông <br />
            <li>Từ 4.526.000 vnđ</li>
          </p>
        <center><a href="#" class="btn btn-primary">Đặt Vé</a></center>
      </div>
    </div>
  </div>
</div>

